
/* #divCont { */
/*     border-style: dashed; */
/*     border-radius: 2em; */
/*     height: 40%; */
/*     width: 70%; */
/*     overflow: auto; */
/*     padding: 0em 1em 1em 1em; */
/* } */


/* .userDiv { */
/*     border-radius: .5em; */
/*     background-color: blue; */
/*     display: inline-block; */
/*     margin-bottom: .5em; */
/*     padding: 0 .2em 0 .2em; */
/* } */

/* .botDiv { */
/*     border-radius: .5em; */
/*     background-color: green; */
/*     display: inline-block; */
/*     margin-bottom: .5em; */
/*     padding: 0 .2em 0 .2em; */
/* } */


#divCont {
    height: 60%;
    width: 100%;
	background: #FFFFFF;
    color: #FFFFFF;
    font-family: "Gothem";
    line-height: 26px;
    margin: 0 auto;
    overflow-X: hidden;
    overflow-Y: auto;
    left: 0;

}

textarea:focus, input:focus{
    outline: none;
}
.botleft {
  position: absolute;	
  top: 3%;
  left: 5%;
  width: 10%;
  height: 10%; 
}
/*.left:after {
    border: 3px solid #2095FE;
    border-right: 3px solid transparent;
    border-top: 3px solid transparent;
    content: " ";
    height: 14px;
    left: -20px;
    position: absolute;
    top: 20px;
    -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
    width: 14px;
}
*/
.botright {
  position: absolute;
  top: 3%;
  right: 85%;
  width: 8%;
  height: 8%; 
}

.botheader {
  color: #EDD51C;
  background: #3F1A0A;
  border: 1px solid #3F1A0A;
  border-bottom: 1px solid #3F1A0A;
  box-shadow: 0px 1px 2px #3F1A0A(1,1,1,0.2);
  height: 12%;
  width: 100%;
  text-align: center;
  line-height: 58px;
  white-space: nowrap;
  padding: 0em 1em 1em 1em;
  margin: 0 auto;
  
}

.botheader2 {
  font-weight: bold;
  color: #EDD51C;
  border: 15px solid #3F1A0A;
  text-shadow: #b38f00 2px 2px 2px;
  font-family: "Gothem";
  font-size: 40px;
  text-align: center;
  padding: 0em 1em 1em 1em;
}

.messages-wrapper {
  padding-top: 10px;
  background: #FFFFFF;
  position: relative;
  border: 1px solid #3F1A0A;
  border-top: 0 none;
  padding: 0em 1em 1em 1em;
  margin: 0 auto;
  width: 100%;
}

.message {
    border-radius: 20px 20px 20px 20px;
    margin: 0 15px 10px;
    padding: 15px 20px;
    position: relative;
}

.message.to {
    background-color: #2095FE;
    color: #fff;
    margin-left: 80px;
}

.message.from {
    background-color: #E5E4E9;
    color: #363636;
    margin-right: 80px;
}

.message.to + .message.to,
.message.from + .message.from {
  margin-top: -7px;
}

.message.botDiv:before {
    border-color: #2095FE;
    border-radius: 50% 50% 50% 50%;
    border-style: solid;
    border-width: 0 20px;
    bottom: 0;
    clip: rect(20px, 35px, 42px, 0px);
    content: " ";
    height: 40px;
    position: absolute;
    right: -50px;
    width: 30px;
    z-index: -1;
}

.message.userDiv:before {
    border-color: #E5E4E9;
    left: -50px;
    transform: rotateY(180deg);
}

.box{
    display: none;
	top:30px;
	left:30px;
    width: 450px;
    height: 450px;
}

a:hover + .box,.box:hover{
    display: block;
	top:30px;
	left:30px;
	position: absolute;
    z-index: 100;
}

.userDiv {
    border-radius: .5em;
    background-color: #E5E4E9 ;
    color: #363636;
    display: inline-block;
    margin-bottom: .5em;
    margin-left: 40%;
    margin-right: 0;
    min-width: 5%;
    text-align: center;
    float: right;
    padding: 0 .2em 0 .2em;
}

/*.userDiv:before {
    border-color: #2095FE ;
    border-radius: 50% 50% 50% 50%;
    border-style: solid;
    border-width: 0 20px;
    bottom: 0;
    clip: rect(20px, 35px, 42px, 0px);
    content: " ";
    height: 40px;
    position: absolute;
    right: -50px;
    width: 30px;
    z-index: -1;
}
*/
.botDiv {
    border-radius: .5em;
    background-color: #EDD51C ;
    color: #3F1A0A ;
    display: inline-block;
    margin-bottom: .5em;
    max-width: 60%;
    padding: 0 .2em 0 .2em;
}

/*/.botDiv:before {
    border-color: #E5E4E9 ;
    left: -50px;
    transform: rotateY(180deg);
    border-radius: 50% 50% 50% 50%;
    border-style: solid;
    border-width: 0 20px;
    bottom: 0;
    clip: rect(20px, 35px, 42px, 0px);
    content: " ";
    height: 40px;
    position: absolute;
    right: -50px;
    width: 30px;
    z-index: -1;
}


